@media only screen and (max-width: 767px) {
  .NavBar-List {
    opacity: 0;
    visibility: hidden;
  }

  .NavBar-List.active {
    opacity: 1;
    visibility: visible;
    display: flex;
  }
  .menu {
    opacity: 1;
  }

  .closeMenu {
    opacity: 0;
  }

  .menu.active {
    opacity: 0;
  }

  .closeMenu.active {
    opacity: 1;
  }
}
