.flip{
    transform: scaleX(-1);
}

@keyframes fadeIn {
    0% {
        opacity: o;
        transform: translateY(50px);
    }

    100%{
        opacity: 1;
        transform: translateY(0)
    }
}

.animation_line {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s, transform .1s;

}

.visible{
    animation: fadeIn 3s forwards;
}
